@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');
@import "general";

body{
    background-color: $main;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    // gap: 20px;
    *{
        font-family: "Monomakh", serif;
        font-size: 16px;
    }
    button{
        cursor: pointer;
    }
    header{
        border-bottom: 1px $ground solid;
        section{
            background-color: $fill;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            button{
                background-color: $elem;
                color: white;
                border: none;
                width: 150px;
                height: 40px;
                border-radius: 5px;
            }
        }
        section:first-child{
            justify-content: space-between;
            padding: 0 20px;
            div{
                display: flex;
                gap: 40px;
                align-items: center;
            }
            img{
                height: 30px;
                cursor: pointer;
            }
            p{
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                background-color: $elem;
                color: white;
                font-weight: bolder;
            }
            h1{
                font-size: 30px;
                color: $elem;
            }
        }
        section:last-child{
            button{
                background-color: #00000000;
                color: #000000;
                border-radius: 5px 5px 0 0;

            }
            button:hover{
                background-color: $ground;
                color: white;
                border-radius: 5px 5px 0 0;

            }
        }
    }
    main{
        // height: 100%;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        #addQuestButton{
            background-color: $elem;
            color: white;
            border: none;
            width: 150px;
            height: 40px;
            border-radius: 5px;
        }
        section:first-child{
            border: 0;
            padding: 0;
            width: 770px; 
            height: 200px;
            background-image: url(../img/titleBGdark.svg);
            background-color: $ground;
        }
        section{
            background-color: $fill;
            box-sizing: border-box;
            width: 770px; 
            height: auto;
            border: 3px $main solid;
            border-top-color: $ground;
            border-left-color: $elem;
            border-bottom: 0px;
            border-right: 0px;
            border-radius: 5px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            div{
                display: flex;
                align-items: center;
            }
            label{
                cursor: pointer;
                input{
                    display: none;
                }
                input:checked ~ span {
                    border-bottom: 1px $ground solid;
                }
            }
            button{
                width: 110px;
                border: none;
                background-color: #00000000;
                text-align: left;
                padding: 0;
            }
            .bottom-side{
                justify-content: space-between;
                aside{
                    width: 20px;
                    cursor: pointer;
                    position: relative;
                    left: 40px;
                    top: 55px;
                    svg:hover{
                        path{
                            stroke: red;
                        } 
                    }
                }
            }
            .question-fill{
                width: 100%;
                justify-content: space-between;
                .input{
                    margin-right: 20px;
                }
                .mod{
                    height: 40px;
                    .toggle{
                        position: relative;
                        width: 60px;
                        height: 30px;
                        input {
                            position: relative;
                            z-index: 1;
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                        }
                        
                        label {
                            position: absolute;
                            cursor: pointer;
                            background-color: #ccc;
                            border-radius: 30px;
                            transition: background-color 0.3s;
                            width: 100%;
                            height: 100%;
                        }
                        
                        label:before {
                            content: "";
                            position: absolute;
                            top: 4px;
                            left: 4px;
                            background: white;
                            border-radius: 50%;
                            transition: transform 0.3s;
                            width: 22px;
                            height: 22px;
                        }
                        
                        input:checked + label {
                            background-color: #66bb6a;
                        }
                        
                        input:checked + label:before {
                            transform: translateX(calc(100% - 2px));
                        }
                    }
                }
            }
            .answers{
                display: flex;
                flex-direction: column;
                align-items: normal;
                gap: 20px;
                .answer-fill{
                    input[type = radio]{
                        position: relative;
                        bottom: 2px;
                    }
                    input[type = text]{
                        display: none;
                    }
                    .answer-del{
                        width: 20px;
                        display: block;
                        cursor: pointer;
                        svg{
                            max-width: 20px;
                        }
                        svg:hover{
                            path{
                                stroke: red;
                            } 
                        }
                    }
                }
            }
            .input{
                // background-color: aqua;
                padding: 0 5px;
                display: block;
                width: 100%;
                height: auto;
                outline: none;
            }
        }
    }
}