@import url("https://fonts.googleapis.com/css2?family=Monomakh&display=swap");
body {
  background-color: #e2eee0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body * {
  font-family: "Monomakh", serif;
  font-size: 16px;
}
body button {
  cursor: pointer;
}
body header {
  border-bottom: 1px #4da33c solid;
}
body header section {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
body header section button {
  background-color: #7349bd;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 5px;
}
body header section:first-child {
  justify-content: space-between;
  padding: 0 20px;
}
body header section:first-child div {
  display: flex;
  gap: 40px;
  align-items: center;
}
body header section:first-child img {
  height: 30px;
  cursor: pointer;
}
body header section:first-child p {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #7349bd;
  color: white;
  font-weight: bolder;
}
body header section:first-child h1 {
  font-size: 30px;
  color: #7349bd;
}
body header section:last-child button {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  border-radius: 5px 5px 0 0;
}
body header section:last-child button:hover {
  background-color: #4da33c;
  color: white;
  border-radius: 5px 5px 0 0;
}
body main {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
body main #addQuestButton {
  background-color: #7349bd;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 5px;
}
body main section:first-child {
  border: 0;
  padding: 0;
  width: 770px;
  height: 200px;
  background-image: url(../img/titleBGdark.svg);
  background-color: #4da33c;
}
body main section {
  background-color: #fff;
  box-sizing: border-box;
  width: 770px;
  height: auto;
  border: 3px #e2eee0 solid;
  border-top-color: #4da33c;
  border-left-color: #7349bd;
  border-bottom: 0px;
  border-right: 0px;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body main section div {
  display: flex;
  align-items: center;
}
body main section label {
  cursor: pointer;
}
body main section label input {
  display: none;
}
body main section label input:checked ~ span {
  border-bottom: 1px #4da33c solid;
}
body main section button {
  width: 110px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  padding: 0;
}
body main section .bottom-side {
  justify-content: space-between;
}
body main section .bottom-side aside {
  width: 20px;
  cursor: pointer;
  position: relative;
  left: 40px;
  top: 15px;
}
body main section .bottom-side aside svg:hover path {
  stroke: red;
}
body main section .question-fill {
  width: 100%;
  justify-content: space-between;
}
body main section .question-fill .mod {
  width: 150px;
  height: 40px;
}
body main section .question-fill .mod label {
  width: 120px;
  text-align: center;
  position: absolute;
}
body main section .question-fill .mod select {
  display: none;
  width: 100%;
}
body main section .answers {
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 20px;
}
body main section .answers .answer-fill input {
  background-color: aquamarine;
  position: relative;
  bottom: 2px;
}
body main section .answers .answer-fill .answer-del {
  width: 20px;
  display: block;
  cursor: pointer;
}
body main section .answers .answer-fill .answer-del svg {
  max-width: 20px;
}
body main section .answers .answer-fill .answer-del svg:hover path {
  stroke: red;
}
body main section .input {
  padding: 0 5px;
  display: block;
  width: 100%;
  height: auto;
  outline: none;
}/*# sourceMappingURL=style.css.map */