<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Глашатый</title>
    <link rel="icon" href="../static/img/logo.svg">
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>
    <header>
        <section>
            <h1>Глашатый</h1>
            <div>
                <img src="../static/img/palette-library-svgrepo-com.svg" alt="colortheme">
                <button>Люду на показ</button>
                <p>Ы</p>
                <!-- <img src="../static/img/login-white.svg" alt="avatar"> -->
            </div>
        </section>
        <section>
            <button>Вопросы</button>
            <button>Ответы</button>
        </section>
    </header>
    <main>
        <section>
        </section>
        <section id="1">
            <div class="question-fill">
                <div class="input" name="question" contenteditable="true">
                    Вопрос...
                </div>
                <div class="mod">
                    <label>Режим<br>ответов</label>
                    <select name="" id="">
                        <option value="radio">Один из</option>
                        <option value="chekbox">Несколько из</option>
                        <option value="text">Свой</option>
                    </select>
                </div>
            </div>
            <div class="answers">
                <template>
                    <div class="answer-fill">
                        <input type="radio">
                        <div class="input" name="answer" contenteditable="true" id="1">
                            Ответ...
                        </div>
                    </div>
                </template>
                <div class="answer-fill">
                    <input type="radio">
                    <div class="input" name="answer" contenteditable="true">
                        Ответ...
                    </div>
                    <div class="answer-del">
                        <img src="../static/img/delBlack.svg" alt="del">
                        <img src="../static/img/delRed.svg" alt="del">
                    </div>
                </div>
            </div>
            <button onclick="addAnswer(1)">Добавить ответ</button>
            <label name="checkBox">
                <input type="checkbox" name="">
                <span>Дозволить ответ глаголить</span>
            </label>
        </section>
        
        
    </main>
    <footer>
    </footer>
</body>
<script src="../static/script/script.js"></script>
</html>