<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <section>
            <h1>QuizGenerator</h1>
            <img src="" alt="colortheme">
            <button>Опубликовать</button>
            <img src="" alt="avatar">
        </section>
        <section>
            <button>Вопросы</button>
            <button>Ответы</button>
        </section>
    </header>
    <main>
        <section>
        </section>
        <section>
            <input type="text" placeholder="Вопрос">
            <select name="" id="">
                <option value="">Режим ответов</option>
                <option value="radio">Один из</option>
                <option value="chekbox">Несколько из</option>
                <option value="text">Свой</option>
            </select>
            <input type="text" placeholder="Ответ...">
        </section>
    </main>
    <footer>
    </footer>
</body>
<script src="../static/script.js"></script>
</html>